{% extends 'app/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}
<br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">

                <h2>Nuevo Producto</h2>
                <hr>

                <form action="" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form | crispy }}
                    <br><br>

                    <!-- <form method="post" action="" >
                        {% csrf_token %}
                        {% if  interaccion == False %}
                        <button type="submit" class="btn btn-info btn-sm">Configuración avanzada</button>
                        {% endif %}

                    {% if  interaccion == True %}
                        {{ form3 | crispy }}
                        {{ form4 | crispy }}
                    {% endif %} -->

                    <div class="d-flex justify-content-end"> 

                        <input type="reset" value="Cancelar" class="btn btn-secondary">
                        &nbsp;
                        <input type="submit" value="Guardar" class="btn btn-primary">

                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}