{% extends 'app/base.html' %}
{% block contenido %}
<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>

  {% load static %}

  <div style="width:95%;height:120px;padding-left: 100px;">
  
      <div style="width: 100px;
      min-width: 100px; 
      float: left;
      height: 100%;
      top: 50%;">
          <div style="width: 60px;
                      position: center;
                      margin-left: 30px;
                      ">
              <img src="{% static 'app/img/plataforma_clientes/Menú/configuracion.svg' %}" style="margin-top: 50%;" class="filteritazul">
          </div>
      </div>
  
      <div style="width: 100px;
      float: left;
      height: 100%;
      top: 50%;">
          <div style="width: 60px;
          position: center;
          margin-left: 10px;
          ">
          <h3 style="padding-top: 70%;color:#2f2f5d;">Configuración</h3>
          </div>
          
      </div>
  
  
  </div>
  
  
  <div style="margin-left: 115px;margin-right: 50px;border: 3px solid #fff;padding: 20px;margin-top:-20px;">
  
      <div  style="width: 150px;
      float: left;">
        <div><a style="text-decoration:none;color:#2f2f5d;font-size: 16px;margin-left:-40px;font-weight: bold;" href="{% url 'listar_campanas' %}"><h5 style="font-weight: bold;">Mis campañas</h5></a></div>
      </div>
      
      <div  style="width: 150px;
      float: left;">
        <div><a style="text-decoration:none;color:#878787;font-size: 16px;margin-left:-20px;font-weight: bold;" href="{% url 'agregar_campana' %}"><h5 style="font-weight: bold;">Crear campañas</h5></a></div>
      </div>
      
  </div>

<br><br>

  <div style="height:100px;margin-left: 132px;margin-right:50px;margin-top: 5px;text-align:center;">

    <div style="width: 50px;
    height: 100px;
    float:left;">
    <a href="{% url 'listar_campanas' %}"> <img src="{% static 'app/img/plataforma_usuarios/Páginas/flecha-atras.svg' %}" style="width: 50px;margin-left:-10px;" > </a>
        
    </div>

    <div style="width: 500px;
    height: 100px;
    margin:0 auto;
    display: inline-block;
    ">
      <div style="padding-top: -20 px;">
        <img src="{% static 'app/img/plataforma_clientes/Páginas/Mis campañas/dashboard.svg' %}" style="width: 80px;" class="filteritazul" > 
        <font  style="color:#2f2f5d;font-size: 20px;font-weight: bold;" >Dashboard - {{campana.cam_nombre}}</font>
      </div>
    </div>

    <div style="width: 50px;
    height: 100px;
    float:right;
    ">
    
    <a href="{% url 'export_to_xls' campana.id %}"> <img src="{% static 'app/img/plataforma_clientes/Páginas/Crear campañas/arrow-line-down (2).svg' %}" style="width: 50px;margin-right:-10px;" class="filteritgrisclaro" > </a>
    </div>


  </div>



<div style="margin-left: 160px;margin-right: 50px;border: 1px solid green;">

  <div style="width: 45%;
  float: left;
  border: 1px solid red;">
    <div style="">
      <canvas id="myChart" style=""></canvas>
    </div>

  </div>

  <div style="width: 50%;
  float: left;">

  </div>

  <div style="padding-left:50px;
  border: 1px solid red;
  height:350px;">

    <canvas id="myChart2" style="width:100%;max-width:300px;float: left;"></canvas>
    
    <canvas id="myChart3" style="width:100%;max-width:300px;float: left;"></canvas>
  </div>



</div>

<div style="border: 1px solid blue;height:50px;width: 50%;margin-left: 160px;">

  
</div>

{% if promedio_calificacion != None and cantidad_calificacion > 0 %}
<div style="border: 1px solid blue;height:350px;margin-left: 160px;">
  <div style="width: 40%;border: 1px solid red;float:left;height:350px;">
    
    <h3 style="padding-top: 0%;color:#2f2f5d;">Resumen calificación</h3>
    <div style="height: 20px;">

    </div>
    <h3 style="padding-top: 0%;color:#2f2f5d;font-size: 24px;">{{pregunta_calificacion}}</h3>
    <h3 style="padding-top: 0%;color:#2f2f5d;font-size: 36px;">Promedio: {{promedio_calificacion}}</h3>
    <h3 style="padding-top: 0%;color:#2f2f5d;font-size: 18px;">Número de jugadores que calificaron: {{cantidad_calificacion}}</h3>
    
  </div>
  <div style="width: 40%;border: 1px solid red;float:left;height:350px;">
    {% if promedio_calificacion != None %}
    <canvas id="myChart4" style="width:100%;height:350px;max-width:500px;float: left;"></canvas>
    {% endif %}
  </div>

</div>
{% endif %}

{% if existe_rec == 1 %}
<div style="border: 1px solid blue;height:350px;margin-left: 160px;">
  <div style="width: 40%;border: 1px solid red;float:left;height:350px;">
    
    <h3 style="padding-top: 0%;color:#2f2f5d;">Resumen recomendación</h3>
    <div style="height: 20px;">

    </div>
    <h3 style="padding-top: 0%;color:#2f2f5d;font-size: 18px;">Número de jugadores que recomendaron correos:</h3>
    <h3 style="padding-top: 0%;color:#2f2f5d;font-size: 36px;">{{recomendaciones}} Correos</h3>
    
    
  </div>
  <div style="width: 40%;border: 1px solid red;float:left;height:350px;">
    
  </div>

</div>
{% endif %}

  
  
  <br><br><br>
  
  

  <script>
  //var xValues = ["RM", "Valpo", "BioBío", "Antofagasta", "Ñuble"];
  var xValues = {{nombre_de_regiones | safe}};
  //var yValues = [55, 49, 44, 24, 15];
  var yValues = {{usuarios_en_regiones}};
  var barColors = ["red", "green","blue","orange","brown"];

  new Chart("myChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Resumen Interacciones Campaña por Regiones"
      }
    }
  });

  var xValues2 = ["18-24", "25-34", "35-44", "45-54", "55-64","65+"];
  var yValues2 = {{Total_Edad}};
  var barColors2 = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#e8c3b9",
    "#1e7145",
    "yellow"
  ];

  new Chart("myChart2", {
    type: "pie",
    data: {
      labels: xValues2,
      datasets: [{
        backgroundColor: barColors2,
        data: yValues2
      }]
    },
    options: {
      title: {
        display: true,
        text: "Resumen Interacciones Campaña por Rango etario"
      }
    }
  });

  var xValues3 = ["Activa", "Incompleta", "Finalizada"];
  var yValues3 = {{lista_estados}};
  var barColors3 = [
    "orange",
    "red",
    "green"

  ];

  new Chart("myChart3", {
    type: "pie",
    data: {
      labels: xValues3,
      datasets: [{
        backgroundColor: barColors3,
        data: yValues3
      }]
    },
    options: {
      title: {
        display: true,
        text: "Resumen Interacciones Campaña por Etapa"
      }
    }
  });

  
  var barColors4 = ["#ffc107", "#ffc107","#ffc107","#ffc107","#ffc107"];
  var xValues4 = ["1/5", "2/5", "3/5", "4/5", "5/5"];
  var yValues4 = {{lista_grafico_calificaciones}};

  new Chart("myChart4", {
    type: "bar",
    data: {
      labels: xValues4,
      datasets: [{
        backgroundColor: barColors4,
        data: yValues4
      }]
    },
    options: {
      legend: {display: false},
      title: {
        display: true,
        text: "Resumen Interacciones Campaña por Regiones"
      }
    }
  });

  var xValues2 = ["18-24", "25-34", "35-44", "45-54", "55-64","65+"];
  var yValues2 = {{Total_Edad}};
  var barColors2 = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#e8c3b9",
    "#1e7145",
    "yellow"
  ];

  </script>

<div>  



  


</body>
</html>
<br><br><br>
{% endblock %}