{% extends 'app/base.html' %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}

{% block contenido %}

<!--
<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/banner1.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner2.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner3.png' %}" alt="">
    </div>
</div>
-->
{% load crispy_forms_tags %}
{% load humanize %}

<div style="margin-left: 60px;margin-right: 20px;">
    
    <br>
    <h2>Calificar</h2>
    <br>
    <h5>{{calificar.cal_pregunta}}</h5>

    <br>

    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form | crispy }}

        <br>

        <div class="d-flex justify-content-end"> 

            <input type="reset" value="Cancelar" class="btn btn-secondary">
            &nbsp;
            <input type="submit" value="Completar Desafío" class="btn btn-primary">

        </div>

    </form>
</div>



{% endblock %}