<!DOCTYPE html>
<html">
<head>
	<title>Document</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'app/css/estilos2.css' %}">
</head>
<body>
	<div class="center" align="center">
		
		<div class="texto">
			<img src="{% static 'app/img/uniperzlogo4.png' %}" alt="logo">
			<br><br><br><br><br>
			<h1>LA NUEVA FORMA PARA INTERACTUAR</h1>
			<h1>CON TUS MARCAS EN INTERNET</h1>
			<br><br><br><br><br><br>
			<h3>///&nbsp;&nbsp;&nbsp;&nbsp;PRONTO&nbsp;&nbsp;&nbsp;&nbsp;///</h3>
		</div>
		
	</div>
	

</body>
</html>